{
  extends: 'standard',

  // Mocha
  globals: {
    describe: true,
    before: true,
    it: true,
    after: true
  },

  // Almost Standard
  rules: {
    // Block must not be padded by blank lines - Why not?
    'padded-blocks': 'off',

    // More than 1 blank line not allowed - Why not?
    'no-multiple-empty-lines': 'off',

    // Closing curly brace does not appear on the same line as the subsequent block - Not going to happen. Much more readable to have `else if (condition)` on new line.
    'brace-style': [2, 'stroustrup']
  }
}
