lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config/credentials.json
config/app.json
config/user.json
config/examples.json

test/fixtures/coffee.jpg
